*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
/* display -> grid*/
body{
    display: grid;
}
/* number of rows */
body{
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}
/* NavBar */
.navbar {
    & img[ alt='logo' ] {
        width: 5rem;
    }
}
/* ALL the image */
img{
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
:is(h2, footer p[class='lead']) {
    text-align: center;
}
/*  */